.logo-image {
  background-image: url("./WechatIMG1143.jpeg");
  height: 100vh;
  top: -16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.bar {
  z-index: 5;
}

.list_item_set{
  background-color: rgba(255, 255, 255, 0.5);

   z-index: 100;
}

.mainPage{
  height: 100vh;
}
